accelerate
# torch==2.0.0
torch
torchvision
torchaudio
diffusers==0.24.0
transformers==4.36.2
einops
decord
tqdm
safetensors
omegaconf
opencv-python
pydantic
compel
easydict
rotary_embedding_torch
imageio[ffmpeg]
gradio
mediapipe
httpx[socks]
# numpy==1.26.4
numpy
deepspeed
scipy==1.9.3
azure-core
isodate
wandb
cffi
torcheval
huggingface_hub==0.21.1
tensorboardX
scikit-learn
matplotlib
protobuf
fire
moviepy
fastdtw
dtaidistance
cd-fvd