accelerate
# torch==2.0.0
torch
torchvision
# diffusers==0.24.0
diffusers
transformers==4.36.2
einops
decord
tqdm
safetensors
omegaconf
opencv-python
pydantic
compel
easydict
rotary_embedding_torch
imageio[ffmpeg]
gradio
httpx[socks]
numpy==1.26.4
deepspeed
azure-core
isodate
wandb
cffi
